1. Data Understanding

In [17]:
import pandas as pd

df = pd.read_csv("../data/Electronic_Sales.csv")

df.head()
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        20000 non-null  int64
 1   Age                20000 non-null  int64
 2   Gender             19999 non-null  object
 3   Loyalty Member     20000 non-null  object
 4   Product Type       20000 non-null  object
 5   SKU                20000 non-null  object
 6   Rating             20000 non-null  int64
 7   Order Status       20000 non-null  object
 8   Payment Method     20000 non-null  object
 9   Total Price        20000 non-null  float64
 10  Unit Price         20000 non-null  float64
 11  Quantity           20000 non-null  int64
 12  Purchase Date      20000 non-null  object
 13  Shipping Type      20000 non-null  object
 14  Add-ons Purchased  15132 non-null  object
 15  Add-on Total       20000 non-null  float64
dtypes: float64(3), int64(4), object(9)
memory usage: 2.4+ MB

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
count,20000.000000,20000.000000,19999,20000,20000,20000,20000.000000,20000,20000,20000.000000,20000.000000,20000.000000,20000,20000,15132,20000.000000
unique,NaN,NaN,2,2,5,10,NaN,2,6,NaN,NaN,NaN,366,5,75,NaN
top,NaN,NaN,Male,No,Smartphone,TBL345,NaN,Completed,Credit Card,NaN,NaN,NaN,2024-04-26,Standard,Extended Warranty,NaN
freq,NaN,NaN,10164,15657,5978,2062,NaN,13432,5868,NaN,NaN,NaN,88,6725,1701,NaN
mean,10483.526550,48.994100,NaN,NaN,NaN,NaN,3.093950,NaN,NaN,3180.133418,578.631867,5.485550,NaN,NaN,NaN,62.244848
std,5631.732525,18.038745,NaN,NaN,NaN,NaN,1.223764,NaN,NaN,2544.978675,312.274076,2.870854,NaN,NaN,NaN,58.058431
min,1000.000000,18.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,20.750000,20.750000,1.000000,NaN,NaN,NaN,0.000000
25%,5478.000000,33.000000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,1139.680000,361.180000,3.000000,NaN,NaN,NaN,7.615000
50%,10499.500000,49.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,2534.490000,463.960000,5.000000,NaN,NaN,NaN,51.700000
75%,15504.000000,65.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,4639.600000,791.190000,8.000000,NaN,NaN,NaN,93.842500
max,19998.000000,80.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,11396.800000,1139.680000,10.000000,NaN,NaN,NaN,292.770000

In [18]:
# Purchase Date stored as string, requiring transformation

df["Purchase Date"] = pd.to_datetime(df["Purchase Date"])
df["Purchase Date"].dtype   

# Now shows as datetime64[ns]

dtype('<M8[ns]')

2. Feature Engineering

In [24]:
# To create Time Features

df["Year"] = df["Purchase Date"].dt.year
df["Month"] = df["Purchase Date"].dt.month
df["Month Name"] = df["Purchase Date"].dt.month_name()
df["YearMonth"] = df["Purchase Date"].dt.to_period("M").astype(str)

df[["Purchase Date", "Year", "Month", "Month Name", "YearMonth"]].head()

  Purchase Date  Year  Month Month Name YearMonth
0    2024-03-20  2024      3      March   2024-03
1    2024-04-20  2024      4      April   2024-04
2    2023-10-17  2023     10    October   2023-10
3    2024-08-09  2024      8     August   2024-08
4    2024-05-21  2024      5        May   2024-05

In [25]:
# Cleaning missing values 

df["Gender"] = df["Gender"].fillna("Unknown")
df["Add-ons Purchased"] = df["Add-ons Purchased"].fillna("None")

In [26]:
# Creating Key Business Flags

df["Is Completed"] = (df["Order Status"] == "Completed").astype(int)
# 1 if Completed, 0 otherwise

In [22]:
# Creating Key Business Metrics (Renaming for Clarity)

df["Order Revenue"] = df["Total Price"]
df["Items per Order"] = df["Quantity"]

In [28]:
# Standardizing Column Names

df.columns = (
    df.columns
      .str.lower()
      .str.replace(" ", "_")
      .str.replace("-", "_")
)

df.head()
df.info()

# Exporting Cleaned Data
df.to_csv("../data/ecommerce_sales_cleaned.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        20000 non-null  int64
 1   age                20000 non-null  int64
 2   gender             20000 non-null  object
 3   loyalty_member     20000 non-null  object
 4   product_type       20000 non-null  object
 5   sku                20000 non-null  object
 6   rating             20000 non-null  int64
 7   order_status       20000 non-null  object
 8   payment_method     20000 non-null  object
 9   total_price        20000 non-null  float64
 10  unit_price         20000 non-null  float64
 11  quantity           20000 non-null  int64
 12  purchase_date      20000 non-null  datetime64[ns]
 13  shipping_type      20000 non-null  object
 14  add_ons_purchased  20000 non-null  object
 15  add_on_total       20000 non-null  float64
 16  year               20000 non-null  int32
 17  month              20000 non-null  int32
 18  month_name         20000 non-null  object
 19  yearmonth          20000 non-null  object
 20  is_completed       20000 non-null  int64
 21  order_revenue      20000 non-null  float64
 22  items_per_order    20000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(6), object(10)
memory usage: 3.4+ MB